@{
    ViewBag.Title = "Cadastro";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Cadastro de Usuário</h1>
        <p class="lead">Aqui você poderá cadastrar o seu usuário para acesso ao Sistema.</p>
    </div>
</div>
<div class="page-desc">
    <div class="titulo-inicial">
        <h1>Cadastro</h1>
    </div>
    <p>
        Preencha todos os campos corretamente para efetuar o seu cadastro no nosso sistema de Auto-Agendamento Online e poder agendar préviamente seus exames em nossa clínica.
    </p>
</div>
<div class="row">
    <div class="col-12 col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Usuário" aria-label="Usuário" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Pesquisar</button>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-4">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <button type="button" class="btn btn-outline-secondary">Novo</button>
            <button type="button" class="btn btn-outline-secondary">Alterar</button>
            <button type="button" class="btn btn-outline-secondary">Excluir</button>
            <button type="button" class="btn btn-outline-secondary">Bloquear</button>
        </div>
    </div>

</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Usuário</th>
            <th scope="col">Nome</th>
            <th scope="col">Bloqueado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>ricardo.dm</td>
            <td>Ricardo Mantuan</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>felipe.old</td>
            <td>Felipe Tadeu Cucick</td>
            <td></td>
        </tr>
    </tbody>
</table>



